<td class='status' onclick={{action 'toggleStatus'}}>{{status}}</td>
<td class='region'>{{destination.region.name}}</td>
<td class='description'>{{destination.description}}</td>
<td class='awesomeness'>{{destination.awesomeness}}</td>
<td class='risk'>{{destination.risk}}</td>
<td>{{link-to 'Edit' 'destination' destination class='edit'}}</td>
