{{!-- template-lint-disable no-invalid-interactive --}}
{{#if (feature-flag 'destination-status')}}<td class='status' onclick={{action 'toggleStatus'}}>{{this.status}}</td>{{/if}}
<td class='region'>{{this.destination.region.name}}</td>
<td class='description'>{{this.destination.description}}</td>
<td class='answer'>{{this.destination.answer}}</td>
<td class='mask show-for-medium'>{{this.destination.mask}}</td>
<td class='awesomeness'>{{this.destination.awesomeness}}</td>
<td class='risk'>{{this.destination.risk}}</td>
<td class='scheduled'>{{if this.destination.meetings '✓'}}</td>
<td><LinkTo @route='destination' @model={{this.destination}} class='edit'>Edit</LinkTo></td>
