{{! template-lint-disable no-inline-styles }}
{{! template-lint-disable no-invalid-interactive }}
<div
  class='region {{if @isHighlighted "highlighted"}}'
  style={{this.style}}
  draggable={{this.draggable}}
  {{on 'click' this.click}}
  {{on 'dragstart' this.dragStart}}
  {{on 'dragend' this.dragEnd}}
  {{create-ref 'Region'}}
>
  <div class='name'>
    {{@region.name}}
  </div>

  {{#if this.meetingIndex}}
    <div class='meeting-index'>
      {{this.meetingIndex}}
    </div>
  {{/if}}

  {{#if this.waypointMeetingIndex}}
    <div class='waypoint-meeting-index' data-test-waypoint-meeting-index>
      {{this.waypointMeetingIndex}}W
    </div>
  {{/if}}

  {{yield}}
</div>