<li class='team {{if this.isSelected 'selected'}} {{if this.hasMetHighlightedTeam 'highlighted'}} {{if this.isAhead 'ahead'}}' title={{this.usersAndNotes}} data-risk-aversion={{this.team.riskAversion}}>
  {{!-- template-lint-disable no-invalid-interactive --}}
  <div onclick={{action 'select'}}>
    <span class='name'>{{this.team.name}}</span> <span class='count'>{{this.count}}</span>

    <div>
      A<span class='average-awesomeness'>{{this.roundedAwesomeness}}</span>
      R<span class='average-risk'>{{this.roundedRisk}}</span>
    </div>
  </div>

  {{#if this.showMeetings}}
    <ul>
      {{#each this.team.meetings as |meeting index|}}
        <li class='meeting' onclick={{action 'editMeeting' meeting}}><span class='index'>{{index}}</span>: <span class='offset'>{{meeting.offset}}</span></li>
      {{/each}}
    </ul>
  {{/if}}
</li>
