{{!-- template-lint-disable no-inline-styles --}}
{{!-- template-lint-disable no-invalid-interactive --}}
<li class='destination {{if this.isSelected 'selected'}}' title='A{{this.destination.awesomeness}} R{{this.destination.risk}}' style={{this.style}} onclick={{action 'select'}}>
  <div class='description'>{{this.destination.description}}</div>

  {{#if this.destination.accessibility}}
    <div class='accessibility'>{{this.destination.accessibility}}</div>
  {{/if}}
</li>
