{{page-title this.title}}
<div class='w-full'>
  <div class='mx-auto md:container'>
    <ul class='flex justify-center gap-4 bg-gray-200 p-2' data-test-nav>
      <li><LinkTo
          @route='destinations'
          @query={{(hash regionId=null)}}
          data-test-destinations
        >dest<span class='hidden sm:inline'>inations</span></LinkTo>
        <LinkTo
          @route='destinations.new'
          data-test-destinations-new
        >+</LinkTo></li>
      {{#if this.puzzles.implementation.hasWaypoints}}
        <li>
          <LinkTo
            @route='waypoints'
            @query={{(hash regionId=null)}}
            data-test-waypoints
          >way<span class='hidden sm:inline'>points</span></LinkTo>
          <LinkTo @route='waypoints.new' data-test-waypoint-new>+</LinkTo></li>
      {{/if}}
      <li><LinkTo @route='regions'>reg<span
            class='hidden sm:inline'
          >ions</span></LinkTo>
        <LinkTo @route='regions.new' data-test-regions-new>+</LinkTo></li>
      <li class='hidden sm:inline'><LinkTo
          @route='teams'
          class='teams'
        >teams</LinkTo></li>
      <li class='hidden sm:inline'><LinkTo
          @route='scheduler'
        >scheduler</LinkTo></li>
      <li class='hidden sm:inline'><LinkTo
          @route='output'
          @query={{hash debug=false}}
        >output</LinkTo><LinkTo
          @route='output'
          @query={{hash debug=true}}
        >/d</LinkTo></li>
      <li><LinkTo @route='sync' data-test-sync-route>sync</LinkTo></li>
      <li class='hidden sm:inline'><LinkTo
          @route='settings'
        >settings</LinkTo></li>
    </ul>
  </div>
</div>

{{outlet}}