<div class='w-full px-2'>
  <div class='mx-auto md:container'>

    <LabeledInput @label='region' as |utilities|>
      <select
        id={{utilities.label}}
        {{on 'change' this.setRegion}}
        class='{{utilities.inputClasses}}'
        data-test-region
      >
        <option></option>
        <RegionOptions
          @regions={{this.sortedRegions}}
          @selected={{this.model.region}}
        />
      </select>
    </LabeledInput>

    <LabeledInput @label='description' as |utilities|>
      <Textarea
        id={{utilities.label}}
        @value={{this.model.description}}
        class='{{utilities.inputClasses}}'
        rows={{4}}
        data-test-description
      />
    </LabeledInput>

    <LabeledInput @label='answer' as |utilities|>
      <Input
        id={{utilities.label}}
        @value={{this.model.answer}}
        class='{{utilities.inputClasses}}'
        data-test-answer
      />
    </LabeledInput>

    <LabeledInput @label='mask' as |utilities|>
      <section class='flex gap-0'>
        <Input
          id={{utilities.label}}
          @value={{this.model.mask}}
          class='{{utilities.inputClasses}}'
          data-test-mask
        />
        {{#if this.model.suggestedMask}}
          <button
            type='button'
            class='w-auto whitespace-nowrap bg-green-500 px-3'
            {{on 'click' this.setMaskToSuggestion}}
            data-test-suggested-mask
          >
            {{this.model.suggestedMask}}
          </button>
        {{/if}}
      </section>
    </LabeledInput>

    <section class='flex gap-4'>

      <LabeledInput class='flex-1 grow' @label='accessibility' as |utilities|>
        <Textarea
          id={{utilities.label}}
          @value={{this.model.accessibility}}
          class='{{utilities.inputClasses}}'
          data-test-accessibility
        />
      </LabeledInput>

      <LabeledInput class='shrink' @label='outside' as |utilities|>
        <Input
          @checked={{this.model.isOutside}}
          id={{utilities.label}}
          class='{{utilities.inputClasses}}'
          @type='checkbox'
          data-test-outside
        />
      </LabeledInput>

    </section>

    <section class='flex gap-4'>
      <LabeledInput class='w-full' @label='credit' as |utilities|>
        <Input
          id={{utilities.label}}
          class={{utilities.inputClasses}}
          @value={{this.model.credit}}
          data-test-credit
        />
      </LabeledInput>
    </section>

    <section class='flex gap-4'>

      <LabeledInput class='w-full' @label='awesomeness' as |utilities|>
        <Input
          id={{utilities.label}}
          @value={{this.model.awesomeness}}
          @type='number'
          class='undraggable {{utilities.inputClasses}}'
          min={{0}}
          max={{10}}
          step={{0.5}}
          {{draggable-number}}
          data-test-awesomeness
        />
      </LabeledInput>

      <LabeledInput class='w-full' @label='risk' as |utilities|>
        <Input
          id={{utilities.label}}
          @value={{this.model.risk}}
          @type='number'
          class='undraggable {{utilities.inputClasses}}'
          min={{0}}
          max={{10}}
          step={{0.5}}
          {{draggable-number}}
          data-test-risk
        />
      </LabeledInput>

      {{#if (feature-flag 'destination-status')}}
        <LabeledInput class='w-full' @label='status' as |utilities|>
          <fieldset
            class='flex gap-4 {{utilities.inputClasses}}'
            data-test-status
          >
            <RadioButton
              @value='available'
              @groupValue={{this.model.status}}
              @class='available'
              @changed={{fn (mut this.model.status) 'available'}}
            >
              ✓
            </RadioButton>
            <RadioButton
              @value='unavailable'
              @groupValue={{this.model.status}}
              @class='unavailable'
              @changed={{fn (mut this.model.status) 'unavailable'}}
            >
              ✘
            </RadioButton>
            <RadioButton
              @value='unknown'
              @groupValue={{this.model.status}}
              @class='unknown'
              @changed={{fn (mut this.model.status) 'unknown'}}
            >
              ?
            </RadioButton>
          </fieldset>
        </LabeledInput>
      {{/if}}

    </section>

    {{#if this.model.isIncomplete}}
      <p
        class='my-2 bg-red-500 p-2'
        data-test-errors
      >{{this.model.errorsString}}</p>
    {{/if}}

    <section class='my-2 flex justify-between gap-2'>
      <button
        class='w-full bg-green-500 p-2'
        type='button'
        {{on 'click' (fn this.save this.model)}}
        data-test-save
      >
        Save
      </button>
      <button
        class='w-full bg-red-500 p-2'
        type='button'
        {{on 'click' (fn this.delete this.model)}}
        data-test-delete
      >
        Delete
      </button>
      <button
        class='w-full bg-yellow-500 p-2'
        type='button'
        {{on 'click' (fn this.cancel this.model)}}
        data-test-cancel
      >
        Cancel
      </button>
    </section>

  </div>
</div>