<div class='grid-container'>
  <div class='grid-x grid-padding-x'>
    <div class='small-12 cell'>
      <label>
        Region
        <select {{on 'change' this.setRegion}} class='region'>
          <option></option>
          <RegionOptions
            @regions={{this.sortedRegions}}
            @selected={{this.model.region}}
          />
        </select>
      </label>

      <label>
        Description
        <Textarea
          @value={{this.model.description}}
          class='description'
          rows={{4}}
        />
      </label>
    </div>
  </div>

  <div class='grid-x grid-padding-x'>
    <div class='small-12 cell'>
      <label>
        Answer
        <Input @value={{this.model.answer}} class='answer' />
      </label>
    </div>

    <div class='small-12 cell'>
      <label>
        Mask
        <div class='input-group'>
          <Input @value={{this.model.mask}} class='mask input-group-field' />
          {{#if this.model.suggestedMask}}
            <div class='input-group-button'>
              <button
                type='button'
                class='suggested-mask button default'
                {{on 'click' this.setMaskToSuggestion}}
              >
                {{this.model.suggestedMask}}
              </button>
            </div>
          {{/if}}
        </div>
      </label>
    </div>
  </div>

  <div class='grid-x grid-padding-x'>
    <div class='small-10 cell'>
      <label>
        Accessibility
        <Textarea @value={{this.model.accessibility}} class='accessibility' />
      </label>
    </div>
    <fieldset class='small-2 cell'>
      <legend>&nbsp;</legend>
      <Input
        @checked={{this.model.isOutside}}
        id='outside'
        class='outside'
        @type='checkbox'
      />
      <label for='outside'>
        Outside
      </label>
    </fieldset>
  </div>
  <div class='grid-x grid-padding-x'>
    <div class='small-6 cell'>
      <label>
        Credit
        <Input @value={{this.model.credit}} data-test-credit />
      </label>
    </div>
  </div>
  <div class='grid-x grid-padding-x'>
    <div class='small-4 cell'>
      <label>
        Awesomeness
        <Input
          @value={{this.model.awesomeness}}
          @type='number'
          class='awesomeness undraggable'
          min={{0}}
          max={{10}}
          step={{0.25}}
          {{draggable-number}}
        />
      </label>
    </div>
    <div class='small-4 cell'>
      <label>
        Risk
        <Input
          @value={{this.model.risk}}
          @type='number'
          class='risk undraggable'
          min={{0}}
          max={{10}}
          step={{0.25}}
          {{draggable-number}}
        />
      </label>
    </div>
    {{#if (feature-flag 'destination-status')}}
      <div class='small-4 cell'>
        <fieldset class='status'>
          <legend>
            Status
          </legend>
          <RadioButton
            @value='available'
            @groupValue={{this.model.status}}
            @class='available'
            @changed={{fn (mut this.model.status) 'available'}}
          >
            ✓
          </RadioButton>
          <RadioButton
            @value='unavailable'
            @groupValue={{this.model.status}}
            @class='unavailable'
            @changed={{fn (mut this.model.status) 'unavailable'}}
          >
            ✘
          </RadioButton>
          <RadioButton
            @value='unknown'
            @groupValue={{this.model.status}}
            @class='unknown'
            @changed={{fn (mut this.model.status) 'unknown'}}
          >
            ?
          </RadioButton>
        </fieldset>
      </div>
    {{/if}}
  </div>

  {{#if this.model.isIncomplete}}
    <div class='grid-x grid-padding-x'>
      <div class='small-12 cell'>
        <p class='errors' data-test-errors>{{this.model.errorsString}}</p>
      </div>
    </div>
  {{/if}}

  <div class='grid-x grid-padding-x'>
    <div class='small-12 cell'>
      <div class='expanded button-group'>
        <button
          class='save success button'
          type='button'
          {{on 'click' (fn this.save this.model)}}
        >
          Save
        </button>
        <button
          class='delete alert button'
          type='button'
          {{on 'click' (fn this.delete this.model)}}
        >
          Delete
        </button>
        <button
          class='cancel warning button'
          type='button'
          {{on 'click' (fn this.cancel this.model)}}
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>