<div class='w-full'>
  <div class='mx-auto md:container'>

    <header class='w-full gap-2 my-2 flex justify-between'>
      <Output::Checkbox
        class='h-full'
        @id='debug'
        @label='Debug'
        @checked={{this.state.debug}}
      />

      {{#each this.outputNames as |outputName|}}
        <button
          class='border-2 border-black p-2 flex-1 {{if (eq this.state.active outputName) "bg-gray-200"}}'
          type='button'
          {{on 'click' (fn (mut this.state.active) outputName)}}
        >
          {{outputName}}
        </button>
      {{/each}}
    </header>

    {{#if this.outputComponent}}
      <this.outputComponent
        @regions={{this.model.regions}}
        @destinations={{this.model.destinations}}
        @waypoints={{this.model.waypoints}}
        @teams={{this.model.teams}}
        @meetings={{this.model.meetings}}
        @assets={{this.model.assets}}
        @settings={{this.model.settings}}
        @debug={{this.state.debug}}
      />
    {{/if}}

  </div>
</div>