<div class='grid-container'>
  <div class='grid-x grid-padding-x'>
    <div class='small-12 cell'>
      <label>
        Name
        <Input @value={{this.model.name}} class='name' />
      </label>

      <label>
        Notes
        <Textarea @value={{this.model.notes}} class='notes' rows={{4}} />
      </label>
    </div>
  </div>
  <div class='grid-x grid-padding-x'>
    <div class='small-12 cell'>
      <label>
        Region
        <select {{on 'change' this.setParent}} class='region'>
          <option></option>
          <RegionOptions
            @regions={{this.sortedRegions}}
            @selected={{this.model.parent}}
          />
        </select>
      </label>
    </div>
  </div>
  <div class='grid-x grid-padding-x'>
    <div class='small-12 cell'>
      <label>
        Hours
        <Input @value={{this.model.hours}} data-test-hours-field />
      </label>
    </div>
  </div>
  <div class='grid-x grid-padding-x'>
    <div class='small-12 cell'>
      <label>
        Accessibility
        <Textarea
          @value={{this.model.accessibility}}
          data-test-accessibility-field
        />
      </label>
    </div>
  </div>
  <div class='grid-x grid-padding-x'>
    <div class='small-12 cell'>
      <div class='expanded button-group'>
        <button
          class='save success button'
          type='button'
          {{on 'click' (fn this.save this.model)}}
        >
          Save
        </button>
        <button
          class='delete alert button'
          type='button'
          {{on 'click' (fn this.delete this.model)}}
        >
          Delete
        </button>
        <button
          class='cancel warning button'
          type='button'
          {{on 'click' (fn this.cancel this.model)}}
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>