<div class='w-full px-2'>
  <div class='mx-auto md:container'>

    <LabeledInput @label='name' as |utilities|>
      <Input
        id={{utilities.label}}
        @value={{this.model.name}}
        class='name {{utilities.inputClasses}}'
      />
    </LabeledInput>

    <LabeledInput @label='notes' as |utilities|>
      <Textarea
        id={{utilities.label}}
        @value={{this.model.notes}}
        class='notes {{utilities.inputClasses}}'
        rows={{4}}
      />
    </LabeledInput>

    <LabeledInput @label='region' as |utilities|>
      <select
        id={{utilities.label}}
        {{on 'change' this.setParent}}
        class='region {{utilities.inputClasses}}'
      >
        <option></option>
        <RegionOptions
          @regions={{this.sortedRegions}}
          @selected={{this.model.parent}}
        />
      </select>
    </LabeledInput>

    <LabeledInput @label='notes' as |utilities|>
      <Input
        id={{utilities.label}}
        @value={{this.model.notes}}
        class='notes {{utilities.inputClasses}}'
      />
    </LabeledInput>

    <LabeledInput @label='accessibility' as |utilities|>
      <Textarea
        id={{utilities.label}}
        @value={{this.model.accessibility}}
        class='{{utilities.inputClasses}}'
        data-test-accessibility-field
      />
    </LabeledInput>

    <section class='my-2 flex justify-between gap-2'>
      <button
        class='save w-full bg-green-500 p-2'
        type='button'
        {{on 'click' (fn this.save this.model)}}
      >
        Save
      </button>
      <button
        class='delete w-full bg-red-500 p-2'
        type='button'
        {{on 'click' (fn this.delete this.model)}}
      >
        Delete
      </button>
      <button
        class='cancel w-full bg-yellow-500 p-2'
        type='button'
        {{on 'click' (fn this.cancel this.model)}}
      >
        Cancel
      </button>
    </section>

  </div>
</div>
