<div class='w-full px-2'>
  <div class='mx-auto md:container'>

    <section class='py-2'>
      <label for='destination-status'>
        Destination status
      </label>
      <Input
        id='destination-status'
        @checked={{this.model.destinationStatus}}
        @type='checkbox'
        data-test-destination-status
      />
    </section>

    <section class='py-2'>
      <label for='clandestine-rendezvous'>
        Clandestine Rendezvous
      </label>
      <Input
        id='clandestine-rendezvous'
        @checked={{this.model.clandestineRendezvous}}
        @type='checkbox'
        data-test-clandestine-rendezvous
      />
    </section>

    <section class='py-2'>
      <label for='txtbeyond'>
        txtbeyond
      </label>
      <Input
        id='txtbeyond'
        @checked={{this.model.txtbeyond}}
        @type='checkbox'
        data-test-txtbeyond
      />
    </section>

    <section class='py-2'>
      <label for='unmnemonic-devices'>
        unmnemonic devices
      </label>
      <Input
        id='unmnemonic-devices'
        @checked={{this.model.unmnemonicDevices}}
        @type='checkbox'
        data-test-unmnemonic-devices
      />
    </section>

    <LabeledInput @label='goal' as |utilities|>
      <Input
        id={{utilities.label}}
        @value={{this.model.goal}}
        class='{{utilities.inputClasses}}'
        data-test-goal
      />
    </LabeledInput>

    <button
      class='save my-2 block bg-green-500 p-2
        {{if this.model.hasDirtyAttributes '' 'opacity-50'}}'
      type='button'
      disabled={{not this.model.hasDirtyAttributes}}
      {{on 'click' this.save}}
      data-test-save-button
    >
      Save
    </button>
    <button
      class='delete my-2 block bg-red-500 p-2'
      type='button'
      {{on 'click' this.refresh}}
    >
      Refresh
    </button>

  </div>
</div>