<div class='w-full px-2'>
  <div class='mx-auto md:container'>

    <LabeledInput @label='region' as |utilities|>
      <select
        id={{utilities.label}}
        {{on 'change' this.setRegion}}
        class='{{utilities.inputClasses}}'
        data-test-region
      >
        <option></option>
        <RegionOptions
          @regions={{this.sortedRegions}}
          @selected={{this.model.region}}
        />
      </select>
    </LabeledInput>

    <LabeledInput @label='name' as |utilities|>
      <Input
        id={{utilities.label}}
        @value={{this.model.name}}
        class='{{utilities.inputClasses}}'
        data-test-name-field
      />
    </LabeledInput>

    <section class='flex gap-4'>

      <LabeledInput class='flex-1' @label='author' as |utilities|>
        <Input
          id={{utilities.label}}
          @value={{this.model.author}}
          class='{{utilities.inputClasses}}'
          data-test-author-field
        />
      </LabeledInput>

      <LabeledInput class='flex-1' @label='call' as |utilities|>
        <Input
          id={{utilities.label}}
          @value={{this.model.call}}
          class='{{utilities.inputClasses}}'
          data-test-call-field
        />
      </LabeledInput>

    </section>

    <LabeledInput @label='excerpt' as |utilities|>
      <Textarea
        id={{utilities.label}}
        @value={{this.model.excerpt}}
        class='{{utilities.inputClasses}}'
        data-test-excerpt-field
      />
    </LabeledInput>

    <section class='flex gap-4'>

      <LabeledInput class='flex-auto' @label='page dimensions' as |utilities|>
        <Input
          id={{utilities.label}}
          @value={{this.model.dimensions}}
          class='{{utilities.inputClasses}}'
          data-test-dimensions-field
        />
      </LabeledInput>

      <LabeledInput class='flex-1' @label='page number' as |utilities|>
        <Input
          id={{utilities.label}}
          @value={{this.model.page}}
          class='{{utilities.inputClasses}}'
          data-test-page-field
        />
      </LabeledInput>

    </section>

    <LabeledInput @label='outlines' as |utilities|>
      <Input
        id={{utilities.label}}
        @value={{this.model.outline}}
        class='{{utilities.inputClasses}}'
        data-test-outline-field
      />
    </LabeledInput>

    <section class='flex gap-4'>

      <LabeledInput class='flex-auto' @label='credit' as |utilities|>
        <Input
          id={{utilities.label}}
          class={{utilities.inputClasses}}
          @value={{this.model.credit}}
          data-test-credit-field
        />
      </LabeledInput>

      {{#if (feature-flag 'destination-status')}}
        <LabeledInput class='flex-1' @label='status' as |utilities|>
          <fieldset
            class='flex gap-4 {{utilities.inputClasses}}'
            data-test-status-fieldset
          >
            <RadioButton
              @value='available'
              @groupValue={{this.model.status}}
              @class='available'
              @changed={{fn (mut this.model.status) 'available'}}
            >
              ✓
            </RadioButton>
            <RadioButton
              @value='unavailable'
              @groupValue={{this.model.status}}
              @class='unavailable'
              @changed={{fn (mut this.model.status) 'unavailable'}}
            >
              ✘
            </RadioButton>
            <RadioButton
              @value='unknown'
              @groupValue={{this.model.status}}
              @class='unknown'
              @changed={{fn (mut this.model.status) 'unknown'}}
            >
              ?
            </RadioButton>
          </fieldset>
        </LabeledInput>
      {{/if}}

    </section>

    {{#if this.model.isIncomplete}}
      <p
        class='my-2 bg-red-500 p-2'
        data-test-errors
      >{{this.model.errorsString}}</p>
    {{/if}}

    <section class='my-2 flex justify-between gap-2'>
      <button
        class='w-full bg-green-500 p-2'
        type='button'
        {{on 'click' (fn this.save this.model)}}
        data-test-save-button
      >
        Save
      </button>
      <button
        class='w-full bg-red-500 p-2'
        type='button'
        {{on 'click' (fn this.delete this.model)}}
        data-test-delete-button
      >
        Delete
      </button>
      <button
        class='w-full bg-yellow-500 p-2'
        type='button'
        {{on 'click' (fn this.cancel this.model)}}
        data-test-cancel-button
      >
        Cancel
      </button>
    </section>

  </div>
</div>