<div class='row'>
  <div class='small-12 columns'>
    {{#if this.region}}
      <section data-test-waypoint-region-scope>
        <strong data-test-title>
          {{this.region.name}}
        </strong>
        <LinkTo @route='waypoints' @query={{(hash regionId=null)}} data-test-leave>leave</LinkTo>
      </section>
    {{/if}}
    <table>
      <thead>
        <tr>
          {{#if (feature-flag 'destination-status')}}
            <th></th>
          {{/if}}
          <th>
            <button
              {{on 'click' this.toggleRegionSort}}
              class='label {{if (eq this.sorting 'region') 'success' 'secondary'}}'
              type='button'
              data-test-header-region
            >
              Region
            </button>
          </th>
          <th>
            Name
          </th>
          <th>
            Author
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.waypoints as |waypoint|}}
          <WaypointRow @waypoint={{waypoint}} />
        {{/each}}
      </tbody>
    </table>

    <LinkTo @route='waypoints.new' data-test-waypoints-new>
      New
    </LinkTo>
  </div>
</div>