{{#if this.region}}
  <section data-test-destination-region-scope>
    <strong data-test-title>
      {{this.region.name}}
    </strong>
    <LinkTo
      class='underline'
      @route='destinations'
      @query={{(hash regionId=null)}}
      data-test-leave
    >leave</LinkTo>
  </section>
{{/if}}
<table>
  <thead>
    <tr>
      {{#if (feature-flag 'destination-status')}}
        <th></th>
      {{/if}}
      <th class='p-2 text-left'>
        <SortButton
          @active={{eq this.sorting 'region'}}
          {{on 'click' this.toggleRegionSort}}
          data-test-header-region
        >
          Region
        </SortButton>
      </th>
      <th class='p-2 text-left'>
        Description
      </th>
      <th class='p-2 text-left'>
        Answer
      </th>
      <th class='p-2 text-left hidden md:table-cell'>
        Mask
      </th>
      <th class='p-2 text-left'>
        <SortButton
          @active={{eq this.sorting 'awesomeness'}}
          {{on 'click' this.toggleAwesomenessSort}}
          data-test-header-awesomeness
        >
          A
        </SortButton>
      </th>
      <th class='p-2 text-left'>
        R
      </th>
      <th class='p-2 text-left'>
        <SortButton
          @active={{eq this.sorting 'scheduled'}}
          {{on 'click' this.toggleScheduledSort}}
          data-test-header-scheduler
        >
          S?
        </SortButton>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.destinations as |destination|}}
      <DestinationRow @destination={{destination}} />
    {{/each}}
  </tbody>
</table>

<LinkTo @route='destinations.new' class='new'>
  New
</LinkTo>
