{{#if this.region}}
  <RegionHeading @region={{this.region}} @route='destinations' data-test-destination-region-scope />
{{/if}}
<table>
  <thead>
    <tr>
      {{#if (feature-flag 'destination-status')}}
        <th></th>
      {{/if}}
      <th class='p-2 text-left text-sm'>
        <SortButton
          @active={{eq this.sorting 'region'}}
          {{on 'click' this.toggleRegionSort}}
          data-test-header-region
        >
          Region
        </SortButton>
      </th>
      <th class='p-2 text-left text-sm'>
        Description
      </th>
      <th class='p-2 text-left text-sm'>
        Answer
      </th>
      <th class='p-2 text-left text-sm hidden sm:table-cell'>
        Mask
      </th>
      <th class='p-2 text-left text-sm'>
        <SortButton
          @active={{eq this.sorting 'awesomeness'}}
          {{on 'click' this.toggleAwesomenessSort}}
          data-test-header-awesomeness
        >
          A
        </SortButton>
      </th>
      <th class='p-2 text-left text-sm'>
        R
      </th>
      <th class='p-2 text-left text-sm'>
        <SortButton
          @active={{eq this.sorting 'scheduled'}}
          {{on 'click' this.toggleScheduledSort}}
          data-test-header-scheduler
        >
          S?
        </SortButton>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.destinations as |destination|}}
      <DestinationRow @destination={{destination}} />
    {{/each}}
  </tbody>
</table>

<LinkTo @route='destinations.new' class='new'>
  New
</LinkTo>