{{#> admin/layout css="calls" js="calls" }}
  <label>
    your phone number
    <input id="number-field" name="number" placeholder="+1-204-287-7433" />
  </label>
  <table>
    <thead>
      <tr>
        <th>
          start
        </th>
        <th>
          from
        </th>
        <th>team</th>
        <th>path</th>
      </tr>
    </thead>
    <tbody>
      {{#each calls}}
        <tr class="call" data-sid="{{this.sid}}">
          <td>
            {{this.start}}
          </td>
          <td>
            {{this.from}}
          </td>
          {{#with (lookup ../call_sid_to_call_record this.sid)}}
            <td>{{team_name}}</td>
            <td>{{call_path}}</td>
          {{/with}}
        </tr>
      {{else}}
        <tr>
          <td>
            no calls
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/admin/layout}}
