{{#> admin/layout css="teams" js="teams" }}
  <table>
    <thead>
      <tr>
        <th>
          name
        </th>
        <th>
          voicepass
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each teams}}
        <tr class="team {{#if complete}}complete{{else}}incomplete{{/if}}">
          <td>
            {{name}}
          </td>
          <td>
            {{voicepass}}
          </td>
          {{#each region_listens}}
            <td data-listens>
              {{this}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
  <h3>voicepass recordings</h3>
  <table data-test-recordings>
    <thead>
      <tr>
        <th>id</th>
        <th>voicepass</th>
      </tr>
    </thead>
    <tbody>
      {{#each team_recordings}}
        <tr data-id="{{id}}">
          <td>{{synthetic_id}}</td>
          <td>
            {{voicepass}}
          </td>
          {{#if url}}
            <td><audio controls src="{{url}}"></audio></td>
          {{else}}
            <td>⚠️</td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/admin/layout}}
