{{!-- template-lint-disable no-inline-styles --}}
{{!-- template-lint-disable no-invalid-interactive --}}
<li class='destination {{if isSelected 'selected'}}' title='A{{destination.awesomeness}} R{{destination.risk}}' style={{style}} onclick={{action 'select'}}>
  <div class='description'>{{destination.description}}</div>

  {{#if destination.accessibility}}
    <div class='accessibility'>{{destination.accessibility}}</div>
  {{/if}}
</li>
