<div class='grid-x'>
  <div class='small-12 cell'>
    <Output::Checkbox
      class='mb-2'
      @id='show-map'
      @label='Show map'
      @checked={{this.showMap}}
    />
    <div class='map'>
      <img class='{{if this.showMap 'visible' 'invisible'}}' src={{this.mapSrc}} alt='map' />

      <label>
        Map
        <input
          id='map'
          type='file'
          onchange={{fn this.saveAttachment 'image' 'mapSrc'}}
          data-test-map-input
        />
      </label>
      <label>
        High-res map
        <input
          type='file'
          onchange={{fn this.saveAttachment 'high' 'highMapSrc'}}
        />
      </label>
      {{#each this.model as |region|}}
        {{#unless region.parent}}
          <MappableRegion @region={{region}} @survey={{true}} />
        {{/unless}}
      {{/each}}
    </div>
  </div>
</div>