<li class='team {{if isSelected 'selected'}} {{if hasMetHighlightedTeam 'highlighted'}}' title={{usersAndNotes}} data-risk-aversion={{team.riskAversion}} onclick={{action 'select'}}>
  <span class='name'>{{team.name}}</span> <span class='count'>{{count}}</span>
  {{#if showMeetings}}
    <ul>
      {{#each team.meetings as |meeting index|}}
        <li class=meeting>{{index}}</li>
      {{/each}}
    </ul>
  {{/if}}
</li>
