<li class='team {{if isSelected 'selected'}} {{if hasMetHighlightedTeam 'highlighted'}}' title={{usersAndNotes}} data-risk-aversion={{team.riskAversion}}>
  <span class='name' onclick={{action 'select'}}>{{team.name}}</span> <span class='count'>{{count}}</span>

  <div>
    A<span class='average-awesomeness'>{{roundedAwesomeness}}</span>
    R<span class='average-risk'>{{roundedRisk}}</span>
  </div>

  {{#if showMeetings}}
    <ul>
      {{#each team.meetings as |meeting index|}}
        <li class=meeting onclick={{action 'editMeeting' meeting}}>{{index}}</li>
      {{/each}}
    </ul>
  {{/if}}
</li>
