<div class='row'>
  <div class='small-12 columns'>
    <label>
      Region
      <select onchange={{action 'setRegion' value='target.value'}} class='region'>
        <option></option>
        {{#each sortedRegions as |region|}}
          <option value={{region.id}} selected={{eq model.region.id region.id}} data-test-region-name={{region.name}}>{{region.name}}</option>
        {{/each}}
      </select>
    </label>

    <label>
      Description
      {{textarea value=model.description class='description' rows=4}}
    </label>
  </div>
</div>

<div class='row'>
  <div class='small-6 columns'>
    <label>
      Answer
      {{input value=model.answer class='answer'}}
    </label>
  </div>
  <div class='small-6 columns'>
    <label>
      Mask
      <div class='input-group'>
        {{input value=model.mask class='mask input-group-field'}}
        {{#if model.suggestedMask}}
          <div class='input-group-button'>
            <button class='suggested-mask button default' {{action 'setMaskToSuggestion'}}>{{model.suggestedMask}}</button>
          </div>
        {{/if}}
      </div>
    </label>
  </div>
</div>

<div class='row'>
  <div class='small-10 columns'>
    <label>
      Accessibility
      {{textarea value=model.accessibility class='accessibility'}}
    </label>
  </div>
  <div class='small-2 columns'>
    <label>
      Outside
      {{input checked=model.isOutside class='outside' type='checkbox'}}
    </label>
  </div>
</div>
<div class='row'>
  <div class='small-4 columns'>
    <label>
      Awesomeness
      {{#draggable-number}}
        {{input value=model.awesomeness type='number' class='awesomeness' min=0 max=10 step=0.25}}
      {{/draggable-number}}
    </label>
  </div>
  <div class='small-4 columns'>
    <label>
      Risk
      {{#draggable-number}}
        {{input value=model.risk type='number' class='risk' min=0 max=10 step=0.25}}
      {{/draggable-number}}
    </label>
  </div>
  {{#if (feature-flag 'destination-status')}}
    <div class='small-4 columns'>
      <fieldset class='status'>
        <legend>Status</legend>
        {{#radio-button value='available' groupValue=model.status class='available'}} ✓{{/radio-button}}
        {{#radio-button value='unavailable' groupValue=model.status class='unavailable'}} ✘{{/radio-button}}
        {{#radio-button value='unknown' groupValue=model.status class='unknown'}} ?{{/radio-button}}
      </fieldset>
    </div>
  {{/if}}
</div>
<div class='row'>
  <div class='expanded button-group'>
    <button {{action 'save' model}} class='save success button' type='button'>Save</button>
    <button {{action 'delete' model}} class='delete alert button' type='button'>Delete</button>
    <button {{action 'cancel' model}} class='cancel warning button' type='button'>Cancel</button>
  </div>
</div>
