<div class='row'>
  <div class='small-12 columns'>
    <label>Debug? <Input @type="checkbox" @checked={{debug}} /></label>

    {{#if (feature-flag 'clandestineRendezvous')}}
      <EmbeddedRendezvousMaps @teams={{model.teams}} @assets={{model.assets}} @debug={{debug}} />
      <EmbeddedRendezvousCards @teams={{model.teams}} @settings={{model.settings}} @assets={{model.assets}} @debug={{debug}} />
      <EmbeddedRendezvousAnswers @teams={{model.teams}} @meetings={{model.meetings}} />
    {{/if}}

    {{#if (feature-flag 'txtbeyond')}}
      <EmbeddedTxtbeyondCards @teams={{model.teams}} @settings={{model.settings}} @assets={{model.assets}} @debug={{debug}} />
      <EmbeddedTxtbeyondTransparencies @teams={{model.teams}} @settings={{model.settings}} @assets={{model.assets}} @debug={{debug}} />
    {{/if}}
  </div>
</div>
