<div class='grid-x'>
  <div class='small-12 cell'>
    <label>
      Debug?
      <Input @type='checkbox' @checked={{this.debug}} />
    </label>

    {{#if (feature-flag 'clandestineRendezvous')}}
      <Output::ClandestineRendezvous::Maps
        @teams={{this.model.teams}}
        @assets={{this.model.assets}}
        @debug={{this.debug}}
      />
      <Output::ClandestineRendezvous::Cards
        @teams={{this.model.teams}}
        @settings={{this.model.settings}}
        @assets={{this.model.assets}}
        @debug={{this.debug}}
      />
      <Output::ClandestineRendezvous::Answers
        @teams={{this.model.teams}}
        @meetings={{this.model.meetings}}
      />
    {{/if}}

    {{#if (feature-flag 'txtbeyond')}}
      <Output::Txtbeyond::Cards
        @teams={{this.model.teams}}
        @settings={{this.model.settings}}
        @assets={{this.model.assets}}
        @debug={{this.debug}}
      />
      <Output::Txtbeyond::Transparencies
        @teams={{this.model.teams}}
        @settings={{this.model.settings}}
        @assets={{this.model.assets}}
        @debug={{this.debug}}
      />
    {{/if}}

    {{#if (feature-flag 'unmnemonicDevices')}}
      <Output::UnmnemonicDevices::Overlays
        @teams={{this.model.teams}}
        @waypoints={{this.model.waypoints}}
        @assets={{this.model.assets}}
        @debug={{this.debug}}
      />

      <Output::UnmnemonicDevices::TeamOverviews
        @teams={{this.model.teams}}
        @assets={{this.model.assets}}
        @debug={{this.debug}}
      />

      <Output::UnmnemonicDevices::Verification
        @regions={{this.model.regions}}
        @assets={{this.model.assets}}
        @debug={{this.debug}}
      />
    {{/if}}
  </div>
</div>