<div class='row'>
  <div class='small-12 columns'>
    <label>
      Name
      <Input @value={{this.model.name}} class='name' />
    </label>

    <label>
      Notes
      <Textarea @value={{this.model.notes}} class='notes' @rows={{4}} />    </label>
  </div>
</div>
<div class='row'>
  <div class='expanded button-group'>
    <button {{action 'save' this.model}} class='save success button' type='button'>Save</button>
    <button {{action 'delete' this.model}} class='delete alert button' type='button'>Delete</button>
    <button {{action 'cancel' this.model}} class='cancel warning button' type='button'>Cancel</button>
  </div>
</div>
