<div class='row'>
  <div class='small-12 columns'>
    <label>
      Name
      {{input value=model.name class='name'}}
    </label>

    <label>
      Notes
      {{textarea value=model.notes class='notes' rows=4}}
    </label>
  </div>
</div>
<div class='row'>
  <div class='expanded button-group'>
    <button {{action 'save' model}} class='save success button' type='button'>Save</button>
    <button {{action 'delete' model}} class='delete alert button' type='button'>Delete</button>
    <button {{action 'cancel' model}} class='cancel warning button' type='button'>Cancel</button>
  </div>
</div>
