<div id='scheduler'>
  <div class='map'>
    <img src={{model.map}}>
    {{#each model.regions as |region|}}
      {{#if region.destinations}}
        <div class='region {{if (eq highlightedRegion region) 'highlighted'}}' style='left: {{region.x}}px; top: {{region.y}}px'></div>
      {{/if}}
    {{/each}}
  </div>

  <ul class='regions'>
    {{#each model.regions as |region|}}
      {{#if region.destinations}}
        <li class='region' title={{region.notes}} onmouseenter={{action 'mouseEnterRegion' region}} onmouseleave={{action 'mouseLeaveRegion'}}>
          <div class='name'>{{region.name}}</div>

          <ul class='destinations'>
            {{#each region.destinations as |destination|}}
              {{#if destination.isAvailable}}
                {{scheduler-destination destination=destination select=(action 'selectDestination') isSelected=(eq destination.id meeting.destination.id)}}
              {{/if}}
            {{/each}}
          </ul>
        </li>
      {{/if}}
    {{/each}}
  </ul>

  <ul class='teams'>
    {{#each model.teams as |team|}}
      {{scheduler-team team=team meeting=meeting select=(action 'selectTeam')}}
    {{/each}}
  </ul>

  <div class='meeting-form'>
    <select class='destination'>
      {{#each model.destinations as |destination|}}
        {{#if destination.isAvailable}}
          <option value={{destination.id}} selected={{eq meeting.destination.id destination.id}}>{{destination.description}}</option>
        {{/if}}
      {{/each}}
    </select>

    {{#each meeting.teams as |meetingTeam|}}
      <select class='team'>
        {{#each model.teams as |team|}}
          <option value={{team.id}} selected={{eq meetingTeam.id team.id}}>{{team.name}}</option>
        {{/each}}
      </select>
    {{/each}}

    <button class='save button tiny success' onclick={{action 'saveMeeting'}}>Save</button>
    <button class='reset button tiny alert' onclick={{action 'resetMeeting'}}>Reset</button>
  </div>

  {{link-to '⌂' 'index' class='home'}}
</div>
