<div id='scheduler'>
  <div class='map'>
    <img src={{model.map}}>
    {{#each model.regions as |region|}}
      {{#if region.destinations}}
        {{#mappable-region region=region draggable=false isHighlighted=(eq highlightedRegion region) highlightedTeam=highlightedTeam}}
          <div class='count'>{{region.meetingCount}}</div>
        {{/mappable-region}}
      {{/if}}
    {{/each}}
  </div>

  <ul class='regions'>
    {{#each model.regions as |region|}}
      {{#if region.destinations}}
        <li class='region' id='region-{{region.id}}' title={{region.notes}} onmouseenter={{action 'mouseEnterRegion' region}} onmouseleave={{action 'mouseLeaveRegion'}}>
          <div class='name'>{{region.name}}</div>

          <ul class='destinations'>
            {{#each region.destinations as |destination|}}
              {{#if destination.isAvailable}}
                {{scheduler-destination destination=destination select=(action 'selectDestination') isSelected=(eq destination.id meeting.destination.id)}}
              {{/if}}
            {{/each}}
          </ul>
        </li>
      {{/if}}
    {{/each}}
  </ul>

  <ul class='teams'>
    {{#each model.teams as |team|}}
      {{scheduler-team
        team=team
        highlightedTeam=highlightedTeam
        meeting=meeting
        isAhead=(gte team.meetings.length highestMeetingCount)
        editMeeting=(action 'editMeeting')
        select=(action 'selectTeam')
        enter=(action 'mouseEnterTeam')
        leave=(action 'mouseLeaveTeam')
      }}
    {{/each}}
  </ul>

  <div class='meeting-form {{if meeting.isForbidden 'forbidden'}}'>
    <select class='destination'>
        <option></option>
      {{#each model.destinations as |destination|}}
        {{#if destination.isAvailable}}
          <option value={{destination.id}} selected={{eq meeting.destination.id destination.id}}>{{destination.description}}</option>
        {{/if}}
      {{/each}}
    </select>

    {{#each meeting.sortedTeams as |meetingTeam|}}
      <select class='team'>
        {{#each model.teams as |team|}}
          <option value={{team.id}} selected={{eq meetingTeam.id team.id}}>{{team.name}}</option>
        {{/each}}
      </select>
    {{/each}}

    {{input value=meeting.index class='index'}}
    {{input value=suggestedOffset class='offset'}}
    {{#unless meeting.isForbidden}}
      <button class='save button tiny success' onclick={{action 'saveMeeting'}}>Save</button>
      <button class='reset button tiny alert' onclick={{action 'resetMeeting'}}>Reset</button>
    {{/unless}}
  </div>

  {{link-to '⌂' 'index' class='home'}}
</div>
