<div id='scheduler'>
  <ul class='regions'>
    {{#each model.regions as |region|}}
      {{#if region.destinations}}
        <li class='region' title={{region.notes}}>
          <div class='name'>{{region.name}}</div>

          <ul class='destinations'>
            {{#each region.destinations as |destination|}}
              {{#if destination.isAvailable}}
                {{scheduler-destination destination=destination}}
              {{/if}}
            {{/each}}
          </ul>
        </li>
      {{/if}}
    {{/each}}
  </ul>

  <ul class='teams'>
    {{#each model.teams as |team|}}
      {{scheduler-team team=team}}
    {{/each}}
  </ul>

  {{link-to '⌂' 'index' class='home'}}
</div>
