<div class='grid-container'>
  <div class='grid-x grid-padding-x'>
    <div class='small-12 cell'>
      <Textarea aria-label='teams JSON' @value={{this.teamsJSON}} rows={{4}} />
      <button class='save success button' type='button' {{action 'save'}}>
        Save
      </button>

      <table>
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Users
            </th>
            <th>
              Phones
            </th>
            <th>
              Risk
            </th>
            <th>
              Notes
            </th>
          </tr>
        </thead>
        {{#each this.sortedTeams as |team|}}
          <tbody data-test-team>
            <tr data-test-team-id={{team.id}}>
              <td class='name'>
                {{team.name}}
              </td>
              <td class='users'>
                {{team.users}}
              </td>
              <td class='phones'>
                {{team.phonesString}}
              </td>
              <td class='risk-aversion'>
                {{team.riskAversion}}
              </td>
              <td class='notes'>
                {{team.notes}}
              </td>
            </tr>
            {{#if this.puzzles.implementation.hasTeamIdentifiers}}
              <tr data-test-identifier>
                <td></td>
                <td colspan='4'>
                  {{team.identifier}}
                </td>
              </tr>
            {{/if}}
          </tbody>
        {{/each}}
      </table>
    </div>
  </div>
</div>