<div class='row'>
  <div class='small-12 columns'>
    {{textarea value=teamsJSON rows=4}}
    <button {{action 'save'}} class='save success button' type='button'>Save</button>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Users</th>
          <th>Phones</th>
          <th>Risk</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |team|}}
          <tr class='team'>
            <td class='name'>{{team.name}}</td>
            <td class='users'>{{team.users}}</td>
            <td class='phones'>{{team.phonesString}}</td>
            <td class='risk-aversion'>{{team.riskAversion}}</td>
            <td class='notes'>{{team.notes}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
